body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: #fafafc;
     /* Background color similar to the header in the image */
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #333336; /* Background color similar to the header in the image */
    height: 50px; /* Adjust height as needed */
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333336;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.image .icon{
    height: 30px; /* Adjust size of the logo */
    width: auto;
}

h1{
    width: 50%;
    text-align: center;
    font-size: 3.5rem;
    color: #333333;
}
/* css open source */
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #333336;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #333336;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}
/* css*/

.SearchPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.SearchContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.SearchTitle{
    width: 100%;
}
/* the following is the css for the display weather part*/
.outerShell{
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #E3F4FE;
    height: 100%;
    margin-bottom: 120px;
}
.weatherData{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.mintemp{
    color:#E3F4FE;
}

.displayWeather{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    background-color: 	#19C3FB;
    border-radius: 10px;
}

.weatherForecast{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5rem;
    background-color: #1C9CF6;
    border-radius: 5px;
}
/*todayweather part*/
.Today{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.TodayWeather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.MaxMinTemp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.myLocation{
    font-size: 2rem;
}
.location{
    font-size: 1rem;
}
.CurrentTemp{
    font-size: 5rem;
}
.weatherIcon{
    font-size: 1.5rem;
}
